[submodule "src/vbWebEngine"]
	path = src/vbWebEngine
	# url = https://github.com/GlisGames/vbWebEngine.git
	branch = v7.2
[submodule "src/vbWebConnector"]
	path = src/vbWebConnector
	url = https://github.com/GlisGames/vbWebConnector.git
	branch = next_digital_wip
