public-hoist-pattern[] = '@pixi/display'
public-hoist-pattern[] = 'eventemitter3'
public-hoist-pattern[] = 'picocolors'
public-hoist-pattern[] = 'picomatch'
public-hoist-pattern[] = 'fast-glob'
public-hoist-pattern[] = 'fs-extra'